$card-border: 1px solid $info;

.card {
    position: relative;
    padding: 0 spacer(1) spacer(1);
    min-height: 18em;
    border: $card-border;

    &, &-note {
        @include span-columns(6);

        @include media($mobile) {
          @include span-columns(12);
          min-height: 4em;
        }    

    }
    
    &-note {
        padding-left: spacer(2);

        p {
            margin-top: 0;
            line-height: 1.5;
            font-size: 1.5em; 
        }
        
        .button {
            font-size: 2em;
            margin-top: spacer(1);
            
            &-small {
                font-size: 1.25rem;
                display: block;
                margin-top: spacer(.5);
            }
        }
    }
    
    & + & {
        @include media($mobile) {
          margin-top: spacer(1);
        }            
    }

    &-container {
        @include clearfix;
        margin: spacer(2) 0;
    }

    time {
        position: absolute;
        display: block;
        font-size: 1rem;
        color: $info;
        bottom: spacer(.75);
    }         
    
    h2 {
        overflow: hidden;
        position: relative;
        margin: 0 spacer(-1);
        padding: spacer(.5) spacer(1);
        border-bottom: $card-border;
        color: $secondary;
        font-size: 1.5em;
        
        time {
            position: static;
            margin-top: spacer(.5);
        }        
    }



    &-select {
        border-color: $secondary;
        
        h2 {
            border-color: $secondary;
        }
    }
    
    label {
        display: block;
        color: $info;
    }
    
    &-values {
        margin: spacer(1) 0;
        
        li {
            margin-bottom: spacer(1.5);
            line-height: 1.25;
        }
    }
    
    &-difference {
        color: $alert;
    }
    
    &-content {
        margin: spacer(1) 0;
        font-size: 2.5em;

        @include media($mobile) {
          font-size: 1.5rem;
        }    
        
        li {
            display: none;
        }
        
        label {
            margin-bottom: spacer(.5);  
            font-size: .75em;
        }
    }
    
    .is-current {
        display: block;
    }
}

.icon-checked {
    display: none;
}

.is-selected { 
    .icon-checked {
        display: inline-block;
    }

    .icon-unchecked {
        display: none;
    }
}

.keyboard-hint {
    margin: spacer(8) 0 spacer(2);
    color: white;
    font-size: 1.25em;
    line-height: 2;

    @include media($mobile) {
      display: none !important;
    }    
}

.keyboard-key {
    display: inline-block;    
    margin: 0 spacer(.25);
    padding: spacer(.5);
    width: 2em;
    height: 2em;
    border: $card-border;
    border-color: white;
    border-radius: 12%;
    color: white;
    text-align: center;
    line-height: 1.25; 
}

.with-keys .card {
    cursor: pointer;
    
    &:hover, &:hover h2 {
        border-color: $link-hover;
    }
    
    &:hover h2 {
        color: $link-hover;
    }
    
    &:after {
        @extend .keyboard-key;
        position: absolute;
        bottom: spacer(-4);
        left: 50%;
        margin-left: spacer(-2.25);
        content: attr(data-card-label);
        font-size: 1.5em;

        @include media($mobile) {
          display: none;
        }    
    }
    
    &:hover:after {
        background-color: transparentize(white, .75);
        //color: $default;
    }

    &.is-selected:after {
        background-color: white;
        color: $default;
    }
}

.success-message {
    padding: spacer(5);
    min-height: 18em;
    text-align: center;
    
    & + .keyboard-hint {
        display: none;
    }

    &.is-hidden + .keyboard-hint {
        display: block;
    }
    
    .button-large {
        font-size: 2em;
        margin-bottom: spacer(1.5);
    }
}

@import 'notes';
