header {
    background-color: $primary;
    padding: spacer(1);
    display: flex;
    
    .header-title {
        flex: 1 1 auto;
    }
    
    h1 {
        color: white;
        margin: 0;
    }
    
    a {
        text-decoration: none;
    }    
}