.progress {
    height: 2em;
    border: 1px solid $success;
    flex: 1 1 auto;
    
    &-container {
        overflow: auto;
        display: flex;
        margin-top: spacer(1.5);
    }
    
    &-label {
        float: left;
        padding-right: spacer(1.5);
        font-size: 1.5em;
        color: $success;
        padding-top: spacer(.25);
    }
    
    &-bar {
        float: left;
        width: 0;
        background-color: $success;
        height: 100%;
        transition: width .5s linear;
    }
}

.complete-message {
    @extend .progress-label;
}