body {
    background-color: $default;
    color: white;
}

main {
    padding: spacer(2) spacer(2);
    @include outer-container;

    @include media($mobile) {
      padding: spacer(1);
    }    
}

article + article {
    margin-top: spacer(2);
}