.toolbar {
    margin-bottom: spacer(2.5);
    display: flex;
    position: relative;

    @include media($mobile) {
        display: block;
    }    
    
    &-item {
        flex: 1 0 auto;        

        @include media($mobile) {
          width: 100%;
        }    
    }
    
    &-item:nth-child(2):not(:last-child) {
        text-align: center;
    }

    &-item:last-child:not(:first-child) {
        text-align: right;

        @include media($mobile) {
            text-align: left;
        }    
    }
    
    &-search {
        width: 40%;

        @include media($mobile) {
          display: block;
          width: 100% !important;
          margin-bottom: spacer(.5);
        }    
    }
    
    .button:not(.button-small) {
        font-size: 1.5em;        
    }
    
    .button {
        &-small {
            margin-left: spacer(1);
        }        
    }    
}

.search-container {
    border: 1px solid $info;
    display: flex;
    padding: .25em .5em;
    color: $info;
    
    input {
        color: white;
        background: none;
        border: 0;
        flex: 1 1 auto;
        
        &:focus ~ icon {
            color: white;
        }
    }
    
    .icon {
        height: 1.5em;
        width: 1.5em;
        top: 0;
    }
}

.filter-highlight {
    background-color: $warning;
    color: $default;
    position: relative;    
    padding: .2em .25em;
    top: .2em;
    
}