$primary: #8368CA;
$secondary: #6FD6E9;
$alert: #FE3D42;
$warning: #FFCA4C;
$success: #39EA28;

$default: #3A3B3D;
$info: #959EA5; 
$black: darken($default, 10%);

$link-hover:  darken($secondary, 20%);

$gutter: modular-scale(1, 1rem, $golden) !default;
$column: modular-scale(3, 1rem, $golden) !default;